---
import Navigation from '../components/Navigation.astro';
import '../styles/global.css';

const pageTitle = "My Astro Site";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Navigation />

		<h1>{pageTitle}</h1>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut cumque, libero aperiam voluptates totam in est cupiditate praesentium placeat. Voluptatem, praesentium. Aliquid iste doloribus ipsam facere beatae sit modi natus vero provident dolorem, tenetur, quae dolores quibusdam vitae consectetur delectus at accusamus fugiat amet. Repudiandae numquam accusantium neque voluptatem enim?</p>
	</body>
</html>
